<section id="footer">
	{{>bottombar}}

	<div class="footer__content">
		<div class="container">
			<div id="sponsors">
				<div class="footer__contentRow">
					<p class="margin--BX2">GOLD SPONSORS</p>
					<img src="./img/sponsors_gold_logos.png" alt="sponsors_gold_logos"/>
				</div>
				<div class="footer__contentRow">
					<p class="margin--BX2">BRONZE SPONSORS</p>
					<img src="./img/sponsors_bronze_logos_row_top.png" alt="sponsors_bronze_logos_row_top"/><br/>
					<img src="./img/sponsors_bronze_logos_row_bottom.png" alt="sponsors_bronze_logos_row_bottom"/>
				</div>
			</div>
		</div>
	</div>
	
</section>
