<div id="form">
	<div class="grid grid--justify-center grid--1-1 grid--3-4@xs grid--1-2@md">
		<div class="grid-cell gid-cell--centered">
			<form action="https://formspree.io/jo@communicationscouncil.org.au" method="POST">
				<input type="hidden" name="_subject" value="New votebravo.com.au submission!" />
				<input type="text" name="_gotcha" style="display:none" />
				
				<label for="_replyto">Your Name:</label>
		    	<input type="text" name="name" placeholder="John Snow" required>

		    	<label for="_replyto">Company:</label>
		    	<input type="text" name="company" placeholder="The Night Watch" required>

				<label for="finalist">Your pick:</label>
				<div class="dropdown">
					<select name="finalist">
						<option value="" selected>Select...</option>
						{{#each finalists}}
						<option value="{{ this.agency }} - {{ this.title }}">{{ this.agency }} - {{ this.title }}</option>
						{{/each}}
					</select>
				</div>

		    	<div class="text--center margin--TX2">
		    		<button class="btn btn--round btn--arrow">VOTE</button>
		    	</div>
			</form>
		</div>
	</div>
</div>
