
// --------------------------------------------------------------
// Button
// --------------------------------------------------------------

.btn {
	display: inline-block; 
	margin: 0;
	padding: .5rem .5rem .5rem 1rem;

	color: $color-white; 
	font-family: $font-bold;
	font-size: $size-Lg;

	background-color: $color-bg;

	&.btn--round {
		border-radius: 500px; 
		text-align: left;
	}

	&.btn--block {
		display: block; 
		text-align: center; 
	}

	&.btn--arrow{
		
		&:after {
			position: relative; 
			content: ''; 
			display: inline-block; 
			margin-left: .5em; 
			margin-bottom: -5px; 
			width: 23px; 
			height: 23px; 

			background: url('../img/arrow.png') no-repeat center center; 
			background-size: 100% 100%;
		}
	}
}

