
// --------------------------------------------------------------
// Button
// --------------------------------------------------------------

.btn {
	display: inline-block; 
	border: 0;
	margin: 0;
	padding: .7rem .7rem .7rem 1rem;

	color: $color-white; 
	font-family: $font-bold;
	font-size: $size-Lg;
	text-transform: uppercase; 
	background-color: $color-bg;
	cursor: pointer; 
	
	&:hover, 
    &:active, 
    &:focus {
	    outline: 0;
	}

	&.btn--round {
		border-radius: 500px; 
		text-align: left;
		letter-spacing: 3px;
	}

	&.btn--block {
		display: block; 
		text-align: center; 
	}

	&.btn--arrow,
	&.btn--close{
		&:after {
			position: relative; 
			content: ''; 
			display: inline-block; 
			margin-bottom: -5px; 
			background-size: 100% 100%;
			background-repeat: no-repeat; 
			background-position: center center; 
		}
	}

	&.btn--arrow{

		@include media('<xs') {
			font-size: $size-Md;
		}

		&:after {
			margin-left: .5em; 
			
			width: 23px; 
			height: 23px; 

			background-image: url('../img/arrow.png') 
			
		}
	}

	&.btn--close{
		padding: .6rem .6rem .6rem .6rem;
		&:after {
			width: 22px; 
			height: 22px; 
			background-image: url('../img/close.png'); 
		}
	}
}

