
// --------------------------------------------------------------
// Content
// --------------------------------------------------------------

#content {
	margin: 3rem 0; 	
	background-color: $color-white;

	.content__title{
		margin-bottom: 3rem; 	
	}
}
