
// --------------------------------------------------------------
// Content
// --------------------------------------------------------------

#content {
	margin: 3rem 0; 	
	background-color: $color-white;

	.content__title{
		margin-bottom: 2rem; 	
	}
}

#finalists-container {
	min-height: 326px;	
}

.finalist {
	position: relative; 
	display: block; 
	transition: all .1s ease-in; 
	cursor: pointer; 

	@include media ('>sm'){
		&:hover {
			box-shadow: 10px 5px 20px 0px rgba($color-black, 0.2);
			transform: translateY(-0.5%);
		}
	}

	.finalist__thumb {
		margin-bottom: 1rem;
	}

	.finalist__title,
	.finalist__name {
		text-align: left;
		word-break: break-word;
	}

	.finalist__title{
		font-family: $font-bold;
		text-transform: uppercase; 
	}
}

