
// --------------------------------------------------------------
// Navs
// --------------------------------------------------------------

.nav {
	list-style-type: none;

	&.nav--top {
		.nav__item {
			display: inline-block; 
			margin-right: 1em;
		}

		.nav__link {
			font-family: $font-regular; 
			color: $color-white;
		}
	}

	&.nav--finalists {
		display: flex; 
		flex-wrap: wrap;
		align-items: center; 
		align-content: stretch;
		justify-content: space-evenly; 

		.nav__item {
			margin: 1em;
		}

		text-align: center; 
		border-bottom: 1px solid rgba($color-text, 0.5);

		.nav__link {
			margin-bottom: 1em;
			border-bottom: 1px solid transparent; 
			padding-bottom: 1rem;
			transition: all .3s ease;
			cursor: pointer;
			
			&:hover {
				border-color: $color-brand;
				color: $color-brand;

			}
		}
	}
}