
// --------------------------------------------------------------
// Navs
// --------------------------------------------------------------

.nav {
	list-style-type: none;

	li {
		display: inline-block; 
		margin-right: 1em;
	}

	&.nav--top {
		.nav__link {
			font-family: $font-regular; 
			color: $color-white;
		}
	}

	&.nav--finalists {
		text-align: center; 
		border-bottom: 1px solid rgba($color-text, 0.5);

		.nav__link {
			margin-bottom: 1em;
		}
	}
}