
// --------------------------------------------------------------
// Global Settings
// --------------------------------------------------------------


// Colors
// --------------------------------------------------------------
$color-black: #000000; 
$color-white: #ffffff; 
$color-brand: purple;


// Base font size
// --------------------------------------------------------------
$base-font-size: 16px; 
$base-line-height: 1.1; 


// Space
// --------------------------------------------------------------
$space: ($base-font-size * $base-line-height);