
// --------------------------------------------------------------
// Global Settings
// --------------------------------------------------------------


// Colors
// --------------------------------------------------------------
$color-black: 		#000000; 
$color-white: 		#ffffff; 
$color-fucsia: 		#ec008b; 
$color-purple-dark: #262236; 

$color-text: 		#4c4c4c; 
$color-brand: 		$color-fucsia;
$color-bg: 			$color-purple-dark; 

// Base font size
// --------------------------------------------------------------
$base-font-size: 	10pt; 
$base-line-height: 	1.1; 

$size-Sm: $base-font-size - 2; 
$size-Md: $base-font-size + 1; 
$size-Lg: $base-font-size + 3;


// Space
// --------------------------------------------------------------
$space: ($base-font-size * $base-line-height);

$container-width: 1024px; 


// Breakpoint Map for @include Media
// --------------------------------------------------------------
$breakpoints: (
	xs: 414px, 
	sm: 600px, 
	md: 768px, 
	lg: 1024px, 
	xl: 1700px
);


// Z-index order
// --------------------------------------------------------------
$zindex-topbar: 9;  
$zindex-modal: 99;  
