
// --------------------------------------------------------------
// Topbar
// --------------------------------------------------------------

#topbar {
    position: relative; 
    height: 5rem;
    width: 100%;
    z-index: $zindex-topbar; 
    
   	background-color: $color-brand; 
}

.topbar__content {
	width: 100%; 
	height: 100%; 
	
	.logo {
		display: inline-block;
		width: 83px; 
		height: 40px; 
		margin-right: 1em; 
		background: url('../img/bravo_logo_white_sm.png') no-repeat left center; 
		background-size: cover;
	}

	.nav {
		@include media('<xs') {
			display: none; 
		}
	}
}